body {
    background-color:oldlace;
}

h1 {
    background-color:darkolivegreen;
}

h2 {
    background-color:olive;
}

.kolor1 {
    background-color:tan;
}

.kolor2 {
    background-color:burlywood;
}

ul {
    background-color:wheat;
}

.kolor3 {
    color:brown
}

.kolor4 {
    color:blue;
}

.kolor5 {
    color:blueviolet;
}

.kolor6 {
    color:aqua;
}

.kolor7 {
    color:aquamarine;
}